main {
  /* display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto auto auto auto; 
  height:100%; */
}

div {
  width: 480px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}

section:nth-child(1){
  height: 75px;
  line-height: 75px;
  background-color: powderblue;
  grid-column-start: span 2;
}

section:nth-child(2){
  height: 150px;
  line-height: 150px;
  column-span: 2;
  background-color:rebeccapurple;
  grid-column-start: span 2;
}

section:nth-child(3){
  height: 125px;
  line-height: 125px;
  background-color: lightseagreen;
  grid-column-start: span 2;
}

section:nth-child(4){
  height:125px;
  line-height: 125px;
  background-color:aqua;
  grid-column-start: span 2;
}

section:nth-child(5){
  height:125px;
  line-height: 125px;
  background-color: cornflowerblue;
}

section:nth-child(6){
  height:125px;
  line-height: 125px;
  background-color: indianred;
  order:2;
}

section:nth-child(7){
  height:125px;
  line-height: 125px;
  background-color: orangered;
}
section:nth-child(8){
  height:125px;
  line-height: 125px;
  background-color: plum;
  order:2;
}

section:section:nth-child(6), section:nth-child(7), section:nth-child(8){
  height: 250px;
  line-height: 250px;
  width: 50%;
}

section:nth-child(9){
  height: 80px;
  line-height: 80px;
  background-color: coral;
  /* clear: both; */
  grid-column-start: span 2;
}

@media (min-width:768px) and (max-width:960px){
  body{
    width: 960px;
  }

  div{
    height: 768px;
    grid-template-columns: 200px repeat(4, 190px);
    grid-template-rows: 100px 200px 250px 150px;
  }

  section:nth-child(1){
    height: 100px;
    line-height: 100px;
  }

  section:nth-child(2){
    height: 600px;
    width: 200px;
    line-height: 600px;
  }

  section:nth-child(3), section:nth-child(4){
    width: 380px;
    height: 200px;
    line-height: 200px;
  }

  section:nth-child(5), section:nth-child(6), section:nth-child(7), section:nth-child(8){
    width: 190px;
    height: 250px;
    line-height: 250px;
  }

  section:nth-child(9){
    width: 760px;
    height: 150px;
    line-height: 150px;
  }
}